<div class="container-app">
  <div style="display: flex">
    <mat-card>
      <mat-card-content style="padding: 20px">
        <div style="display: flex; flex-direction: column; padding: 40px">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>REGISTER</mat-card-title>
          </mat-card-header>
          <form
            (ngSubmit)="onSubmit()"
            style="display: flex; flex-direction: column"
          >
            <mat-form-field appearance="outline">
              <mat-label>Username:</mat-label>
              <input
                required=""
                matInput
                [(ngModel)]="username"
                name="username"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email:</mat-label>
              <input matInput [(ngModel)]="email" name="email" required />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password:</mat-label>
              <input
                matInput
                [(ngModel)]="password"
                name="password"
                [type]="hide ? 'password' : 'text'"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">
              REGISTER
            </button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
